header {
  width: 100%;
  padding: 50px 10px;
  background: var(--border);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header img {
  width: 250px;
  border-radius: 5px;
}

header p {
  color: var(--text-secondary);
}

.cta-btn {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background: var(--accent);
  font-weight: bold;
}

.cta-btn:hover {
  background: var(--accent-hover);
}
