#how-it-works {
  padding: 50px 20px;
  text-align: center;
  background: var(--surface);
}

.how-it-works-title {
  font-weight: 500;
  margin-bottom: 50px;
}

@media screen and (min-width: 769px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .card-container {
    gap: 40px;
  }
}
