nav {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  background: var(--border);
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100vh;
  border-top: 1px solid var(--accent);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-links.active {
  visibility: visible;
  pointer-events: auto;
  animation: menuFadeIn 0.3s ease forwards;
}

.nav-btns {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-theme {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: 700;
  letter-spacing: 2px;
}

.link-list {
  margin: 20px;
}

.link {
  font-size: 1.2rem;
  margin: 20px;
}

.link:hover {
  color: var(--text-secondary);
}

.cvc {
  background: var(--accent);
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
}

.cvc:hover {
  background: var(--accent-hover);
}

.menu-theme button {
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--icon);
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 769px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    position: static;
    visibility: visible;
    opacity: 1;
    height: 100%;
    border: none;
    border-radius: 0;
    display: flex;
    padding: 0;
    width: 330px;
    background: var(--bg);
    pointer-events: all;
  }

  .link {
    font-size: 1.1rem;
    color: var(--text-secondary);
  }

  .logo {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1025px) {
  nav {
    border-radius: 10px;
  }
}
